body {
  background: rgb(178, 178, 185);
}

.generic_table {
  margin: 0 auto;

  border-spacing: 2px 2px;
  border: 1px solid #000;
  background: rgb(58, 52, 52);
  border-collapse: collapse;

}

td {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid #000; */

  width: 32px;
  height: 32px;
  text-align: center;

  background-image: url(images/0.png);
  cursor: pointer;
  font-size: 100%;
  font-weight: bold;
}

.air {
  background: url(images/1.png);
}

.plr {
  background-image: url(images/2.png);
}

.wll {
  background-image: url(images/3.png);
}